@import "../../assets/scss_settings/variables";
.upcoming {
  background-color: $black;
  min-height: 200px;
  .align_col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5,
    .browse_link {
      font-weight: $font-weight;
    }
    h5 {
      color: #fff;
      font-size: 1.15em;
    }
    .browse_link {
      color: $gray;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }
}
