@import "../../assets/scss_settings/variables";
@import "../../assets/scss_settings/mixins";
$image: url("../../assets/img/background.jpg");
.ytsTitle {
  background: linear-gradient(180deg, rgba(29, 29, 29, 0.6) 0%, rgb(29, 29, 29) 100%, rgba(29, 29, 29, 0.61) 100%), $image no-repeat center/cover;
  .container {
    padding-top: 3rem;
    text-align: center;
    color: #fff;
    h1,
    h5,
    .blogLink {
      font-weight: $font_weight;
    }
    p,
    .blogLink {
      font-size: 0.95em;
    }
    h1 {
      font-size: 2.75em;
      text-shadow: 0 2px 2px #00000066;
      margin-bottom: 0.9rem;
    }
    h5 {
      margin-top: 2rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid #ffffff33;
      font-size: 1.1em;
      .starIcon {
        margin-right: 0.5rem;
        color: $green;
      }
    }

    p {
      color: $gray_title;
      line-height: 1.4em;
    }

    .blogLink {
      color: $blue;
      text-decoration: none;

      &:hover {
        color: $blue2;
      }
    }
  }
}
