@import "../../assets/scss_settings/variables";
.latest_movies {
  background-color: $black2;
  .align_col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5 {
      color: #fff;
      font-weight: $font-weight;
      font-size: 1.15em;
    }
    .browse_link {
      color: $gray;
      font-weight: $font-weight;
      text-decoration: none;
      font-size: 14px;
      &:hover {
        color: #fff;
      }
    }
  }
}
