.backgroundDiv {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 600px;
  background: linear-gradient(
      180deg,
      rgba(20, 20, 20, 0.7959558823529411) 0%,
      rgba(25, 25, 25, 0.7959558823529411) 44%,
      rgba(19, 19, 19, 0.7931547619047619) 76%
    ),
    url("../../assets/img/background.jpg") no-repeat center/cover;
}
