@import "./variables";

/*
============================
            MIXINS
============================
*/
@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin padding($p1, $p2) {
  padding: $p1 $p2;
}

@mixin vertical_line {
  @include dimensions(1px, 20px);
  background-color: $gray;
}
@mixin horizontal_line {
  @include dimensions(100%, 2px);
  background-color: #fff;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
