/*
============================
            FONT
============================
*/
$font: "Arimo", sans-serif;
$font_weight: 700;

/*
============================
           COLORS
============================
*/
$black: #1d1d1d;
$black2: #171717;
$gray: #919191;
$gray_dark: #333;
$gray_title: #ccc;
$green: #6ac045;
$blue: #428bca;
$blue2: #366c9b;
