/*
============================
          IMPORTS
============================
*/
@import "../../assets/scss_settings/mixins";
@import "../../assets/scss_settings/variables";
@import "./media_header";
body {
  font-family: $font;
  position: relative;
  /*begin::header*/
  header {
    background-color: $black;
    .navbar {
      padding: 0.7rem;

      .moviesTitle,
      .toggleDiv .userIcon {
        color: $gray;
      }

      .moviesTitle {
        margin-left: 1rem;
        font-size: 1.2em;
      }
      .toggleDiv,
      .navbar-nav {
        @include flex;
      }
      .toggleDiv {
        .navbar-toggler {
          border: none;
        }
      }

      .navbar-nav {
        .form-group,
        .nav-link,
        .searchInput {
          color: $gray;
        }
        .link_highlight {
          color: $green;
        }
        .login_link,
        .register_link {
          color: #fff;
        }
        .vertical_line {
          @include vertical_line;
        }
        .searchInput,
        .nav-link {
          padding-left: 0.8rem;
          font-size: 0.85em;
          font-weight: $font_weight;
        }
        .searchIcon {
          position: relative;
          left: 30px;
        }
        .searchInput {
          @include dimensions(250px, 35px);
          border: 2px solid $gray_dark;
          border-radius: 20px;
          padding-left: 35px;
          background: transparent;
        }
      }
    }
  }
  /*end::header*/
}
