@import "../../assets/scss_settings/variables";
@import "../../assets/scss_settings/mixins";
.vpn_section {
  width: 100%;
  min-height: 400px;
  background-color: #1d1d1d;
  .vpn_border {
    border: 5px solid $green;
    background-color: #000;
    color: #fff;
    h1,
    h6,
    .download_link,
    .details {
      font-weight: $font_weight;
    }
    .os,
    .resolution,
    .cpu,
    .location,
    .ip_address {
      padding: 1px;
      color: #fff;
      background: #731407;
    }
    h1 {
      font-size: 40px;
      width: 80%;
      margin: 0 auto;
      border-bottom: 1px solid $gray;
    }
    .details {
      color: #abcc06;
    }

    p {
      font-size: 0.93em;
      line-height: 30px;
    }
    .location,
    .ip_address {
      background: #ad0000;
      color: #fff;
    }
    h6 {
      color: #4c96d0;
      font-size: 17px;
    }
    .download_link {
      background: $green;
      color: #fff;
      padding: 0.4rem 2rem;
      border-radius: 5px;
      text-shadow: 2px 2px #4b9924;
      text-decoration: none;
    }
  }
}
